{% extends "mainpage.html" %}
{% block body %}
    <div class="container">
         <p>Неолант</p>
            <table width="80%" border="1" id="myTable">
            <thead>
            <tr>
                <th>Имя</th>
                <th>MAC адрес</th>
                <th>Данные</th>
            </tr>
            </thead>
            <tbody>
            {% for name in names %}
                <tr align="center">
                    <td  align="right">
                        {{name.name}}
                    </td>
                    <td>
                        {{name.mac_addr}}
                    </td>
                    <td>
                        {{name.data}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    working on this
{% endblock %}
{% block JSscripts%}
    <script>  let table = new DataTable('#myTable', {language: {url: '../static/datatables/ru.json'}); </script>
{% endblock %}