{% extends "mainpage.html" %}
{% block body %}
    <div class="container">
         <p>Неолант</p>
            <button onclick='getform();'>Добавить</button>

            <table width="80%" border="1" id="myTable">
            <thead>
            <tr>
                <th>Имя</th>
                <th>MAC адрес</th>
                <th>Данные</th>
            </tr>
            </thead>
            <tbody>
            {% for name in names %}
                <tr align="center" id="{{name.id}}">
                    <td  align="right">
                        {{name.name}}
                    </td>
                    <td>
                        {{name.mac_addr}}
                    </td>
                    <td>
                        {{name.data}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<div id="Form">{{error}}</div>

    working on this
{% endblock %}
{% block JSscripts%}
    <script>
    function getform () {
        $('#Form').load('/getform.html?action=subAddr', function(responseTxt, statusTxt, jqXHR)
            {
                if(statusTxt == 'success'){
                        $('#addForm').modal();
                    }
                    if(statusTxt == 'error'){
                        alert('Error: ' + jqXHR.status + ' ' + jqXHR.statusText);
                    }
                }
    );
    }
    </script>
    <script>
    $( function () {
    var table = $('#myTable').DataTable({
    dom: 'Bfrtip',
    buttons: [
        {
            text:      '<i class="fa fa-plus"></i>',
            titleAttr: 'Add item',
            action: function ( e, dt, node, config ) {
                alert( 'Button activated' );
                }
        },
        {
            text:      '<i class="fa fa-pen"></i>',
            attr:  {
                title: 'Edit item',
                id: 'BtEdit'
                },
            init: function ( dt, node, config ) {
                this.disable();
            },
            action: function ( e, dt, node, config ) {
                alert( 'Button activated' );
            }
        },
        {
            text:      '<i class="fas fa-trash  aria-hidden="true"></i>',

            action: function ( e, dt, node, config ) {
                alert( 'Button activated' );
            }
        }
    ],

    pageLength: 25,
    select: true,
    rowId: 'id',
    language: {
        url:"/static/datatables/ru.json"
        },
});
    var buttons = table.buttons( '#BtEdit' );
    console.log(buttons)

    table.on( 'select deselect', function () {

        var selectedRows = table.rows( { selected: true } ).count();
        buttons.enable( selectedRows === 1 );
        console.log(buttons)
    });
} )
</script>
{% endblock %}