{% extends "base.html" %}
{% block title %}Компьютеры{% endblock title %}
{% block body %}
    <p>Компьютеры</p>
    <table width="80%" border="1" >
        <thead>
        <tr>
            <th>Мак</th>
            <th>адрес</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    mac_addr
                </td>
                <td>
                    ip_addr
                </td>
                <td>
                    time
                </td>
            </tr>
        </tbody>
    </table>
{% endblock body %}
