{% extends "mainpage.html" %}
{% block body %}
    <div class="container">
        <p>Компьютеры</p>
        <table width="80%" border="1" id="myTable">
            <thead>
            <tr>
                <th>MAC адрес</th>
                <th>адрес</th>
                <th>Время</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr align="center">
                    <td  align="right">
                        <button onclick="getform({{item.mac_addr}});">{{item.mac_addr}}</button>

                    </td>
                    <td>
                        {{item.ip_addr}}
                    </td>
                    <td>
                        {{item.time}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
    </div>
    working on this
<div id="Form"></div>
{% endblock %}
{% block JSscripts%}
    <script>
    function getform (mac_addr) {
        $('#Form').load('/getform.html?action=sub&mac_addr=mac_addr', function(responseTxt, statusTxt, jqXHR)
            {
                if(statusTxt == 'success'){
                        $('#addForm').modal();
                    }
                    if(statusTxt == 'error'){
                        alert('Error: ' + jqXHR.status + ' ' + jqXHR.statusText);
                    }
                }
    );
    }
    </script>
    <script> let table = new DataTable('#myTable', {language: {url: '/static/datatables/ru.json'}});</script>
{% endblock %}