{% extends "mainpage.html" %}
{% block body %}
      <p>   Компьютеры</p>
        <table width="80%" border="1" id="myTable">
        <thead>
        <tr>
            <th>MAC адрес</th>
            <th>адрес</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr align="center">
                <td  align="right">
                    {{item.mac_addr}}
                </td>
                <td>
                    {{item.ip_addr}}
                </td>
                <td>
                    {{item.time}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    working on this
{% endblock %}
{% block JSscripts%}
    <script> let table = new DataTable('#myTable'); </script>
{% endblock %}