{% extends "page.html" %}
{% block body %}
     <p>Компьютеры</p>
        <table width="80%" border="1" id="myTable">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>MAC адресс</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        {% for name in names %}
            <tr align="center">
                <td  align="right">
                    {{name.name}}
                </td>
                <td>
                    {{name.mac_addr}}
                </td>
                <td>
                    {{name.time}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    working on this
{% endblock %}
