{% load static %}
<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Webmet{% endblock %}</title>
    {% block extra_headers %}{% endblock %}
    <link href="/static/datatables/dataTables.dataTables.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main/css/main.css" rel="stylesheet">
    <link href="/static/main/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <header class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Webnet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logs.html">Логи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Addr.html">Адреса</a>
          </li>

        </ul>

      </div>
      </header>

    <main role="main">
      {% block body %}HI{% endblock %}

<!--    <footer class="">-->
    <footer class="fixed-bottom">
      <div class="container mb-1" align="center">
        footer
      </div>
    </footer>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'datatables/dataTables.min.js' %}"></script>

    {% block JSscripts%}
    <script> let table = new DataTable('#myTable'); </script>
    <script> let table = new DataTable('#myTableworkers'); </script>
    {% endblock %}
  </body>
</html>
