{% load static %}
<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Webmet{% endblock %}</title>
    {% block extra_headers %}{% endblock %}
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main/css/main.css" rel="stylesheet">
    <link href="/static/main/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

    <header class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Навигация</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Домашняя страница<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logs.html">Логи</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Сети
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="NeoWeb.html">Неолант</a>
          <a class="dropdown-item" href="#">Другая компания</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Что то ещё</a>
        </div>
      </li>

    </ul>

  </div>
    </header>

    <main role="main">
      {% block body %}HI{% endblock %}

<!--    <footer class="">-->
    <footer class="fixed-bottom">
      <div class="container mb-1" align="center">
        footer
      </div>
    </footer>

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script> let table = new DataTable('#myTable'); </script>
    <script> let table = new DataTable('#myTableworkers'); </script>
  </body>
</html>
