{% extends "mainpage.html" %}
{% block body %}
    <div class="container">
         <p>Неолант</p>
            <button onclick='getform();'>Добавить</button>

            <table width="80%" border="1" id="myTable">
            <thead>
            <tr>
                <th>Имя</th>
                <th>MAC адрес</th>
            </tr>
            </thead>
            <tbody>
            {% for name in names %}
                <tr align="center" id="{{name.id}}">
                    <td  align="center">
                        {{name.name}}
                    </td>
                    <td>
                        {{name.mac_addr}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<div id="Form">{{error}}</div>

    working on this
{% endblock %}
{% block JSscripts%}
      <script type="text/javascript" charset="utf8" src="/static/Index/JSscripts/ScriptsForDir.js"></script>

{% endblock %}